---
layout: page

title: "ALL EVENTS"
---

<p>Here's some of the events we've hosted!</p>

{%- capture processed_now_date -%}
    {{ "now" | date: '%s' }}
{%- endcapture -%}



{% assign display_upcoming_events = false %}

{% for event in site.events %}
    {%- capture processed_event_date -%}
        {{ event.end_date | date: "%s" }}
    {%- endcapture -%}

    {% if processed_now_date < processed_event_date %}
        
        {% if display_upcoming_events == false %}
            {% assign display_upcoming_events = true %}
            <div class="section-header">UPCOMING EVENTS</div>
            <div class="event-thumbnail-list element area no-select">
        {% endif %}

        {% include elements/event-thumbnail.html event=event %}

    {% endif %}

{% endfor %}

{% if display_upcoming_events == true %}
    </div>
{% endif %}



{% assign display_past_events = false %}

{% for event in site.events %}
    {%- capture processed_event_date -%}
        {{ event.end_date | date: "%s" }}
    {%- endcapture -%}

    {% if processed_now_date >= processed_event_date %}
        
        {% if display_past_events == false %}
            {% assign display_past_events = true %}
            <div class="section-header">PAST EVENTS</div>
            <div class="event-thumbnail-list element area no-select">
        {% endif %}

        {% include elements/event-thumbnail.html event=event %}

    {% endif %}

{% endfor %}

{% if display_past_events == true %}
    </div>
{% endif %}