---
layout: default
---

<div class="content">
    <p>Boston Indies is a rad community of local indie developers in Massachusetts!</p>
    <p>We host demo nights, talks, and more! Come hang out!</p>

    {%- capture processed_now_date -%}
        {{ "now" | date: '%s' }}
    {%- endcapture -%}

    {% assign display_upcoming_events = false %}
    
    {% for event in site.events %}

        {%- capture processed_event_date -%}
            {{ event.end_date | date: "%s" }}
        {%- endcapture -%}

        {% if processed_now_date < processed_event_date %}
            
            {% if display_upcoming_events == false %}
                {% assign display_upcoming_events = true %}
                <div class="section-header">UPCOMING EVENTS</div>
                <div class="event-thumbnail-list element area no-select">
            {% endif %}

            {% include elements/event-thumbnail.html event=event %}

        {% endif %}

    {% endfor %}

    {% if display_upcoming_events == true %}
        </div>
    {% else %}
    <div class="element area no-select" style="text-align: center;">
         <a href="{{ site.meetup }}">
        <div class="section-header" style="margin: 0 !important;">CHECK MEETUP.COM FOR UPCOMING EVENTS!</div>
        </a>
    </div>
    {% endif %}
    
    
    <div class="video-wrapper element no-select">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ site.featured_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="about">
        <p>Boston Indies is a community of independent game developers in Massachusetts supporting hobbyists, professionals, artists, academics, and anyone else who's excited about making games.

        <p>Our goals are to: 
        <ul><li>Foster a supportive community for local independent game makers.</li>
        <li>Encourage creating games independent of large budgets and major corporations.</li>
        <li>Serve as a brain trust for local independent developers, and create a positive environment for learning and getting critical feedback.</li></ul>

        <p>We welcome folks regardless of development platform, engine, or genre. </p>
        <p>As long as you show up with an open mind, helpful attitude, and you're making your own games, you're welcome to join us!</p>
        <p>See ya soon!</p>
    </div>

    <br />

    <p>See our upcoming events on <a href="https://www.meetup.com/bostongamedev/">Meetup.com!</a>

    <p>Join our online community on <a href="https://slack.bostongamedev.org/">Slack!</a>

    <p>We're supported by Boston Game Dev, <a href="http://www.bostongamedev.org/donate">Donate Here</a> to help keep us running <3
</div>