---
layout: default
---







<div class="content">
    <p>{{ site.about }}</p>

    {%- capture processed_now_date -%}
        {{ "now" | date: '%s' }}
    {%- endcapture -%}

    {% assign display_upcoming_events = false %}
    
    {% for event in site.events %}

        {%- capture processed_event_date -%}
            {{ event.end_date | date: "%s" }}
        {%- endcapture -%}

        {% if processed_now_date < processed_event_date %}
            
            {% if display_upcoming_events == false %}
                {% assign display_upcoming_events = true %}
                <div class="section-header">UPCOMING EVENTS</div>
                <div class="event-thumbnail-list element area no-select">
            {% endif %}

            {% include elements/event-thumbnail.html event=event %}

        {% endif %}

    {% endfor %}

    {% if display_upcoming_events == true %}
        </div>
    {% else %}
    <div class="element area no-select" style="text-align: center;">
        <div class="section-header" style="margin: 0">MORE EVENTS COMING SOON!</div>
    </div>
    {% endif %}
    
    
    <div class="video-wrapper element no-select">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ site.featured_video }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>