<footer class="footer-content cut-edges no-select" style="border-bottom: 0;">
    <div class="footer-socials">
        {% for social in site.socials -%}
            <a href="{{ social.link }}" target="_blank"><img src="{{ social.icon }}"></a>
        {% endfor -%}
    </div>

    <div class="badges element">
        {% for badge in site.badges -%}
            {% if badge.link %}
                <a href="{{ badge.link }}" target="_blank">
            {% endif -%}
                    <img src="/assets/badges/{{ badge.image }}">
            {% if badge.link %}
                </a>
            {% endif -%}
        {% endfor -%}
    </div>

    {{ site.legal }}

    <p>Website by <a target="_blank" href="https://yukonmakes.games/">Yukon 😈</a></p>
</footer>