html
{
    font-size: 16px;

    @include mobile
    {
        font-size: 20px;
    }
}

body
{
    font-family: $fontBody;
    color: white;
    
    background-color: #d52991;

    background-image: url("/assets/resources/background.png");
    background-repeat: repeat;
    background-position: top;
    background-size: 40rem;

    margin: 0;

    animation: animatedBackground 48s linear infinite;

    cursor: url("/assets/resources/wand.png"), auto;
}

@keyframes animatedBackground
{
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0px -1024px;
    }
}

h1, h2, h3
{
    font-family: $fontHeader;
}

a
{
    color: $colorYellow;
}

img
{
    max-width: 100%;
}

.wrapper
{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing;

    margin-top: $spacing;
    margin-bottom: $spacing;
}

.container
{
    width: 1080px;

    @include mobile
    {
        width: 100%;
    }
}

.banner
{
    padding-top: $spacingHalf;
    
    display: flex;
    flex-direction: column;
}

.banner-information
{
    background-color: $colorYellow;
    color: $colorBlack;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacingQuarter;
}

.content
{    
    padding: $spacing;

    padding-top: $spacingHalf;
    padding-bottom: $spacingHalf;
}

.cut-edges
{
    border: 0;
    border-top: $spacing;
    border-bottom: $spacing;
    border-style: solid;
    border-image: url("/assets/resources/box-black.png");
    border-image-slice: 45% 0% fill;
    border-image-repeat: repeat;
}

.spacer
{
    padding-top: $spacing;
}