body
{
    font-family: $fontBody;
    color: white;
    
    background-color: #d52991;

    background-image: url("/assets/resources/background.jpg");
    background-repeat: repeat;
    background-position: top;
    background-size: 40rem;

    margin: 0;

    animation: animatedBackground 48s linear infinite;

    cursor: url("/assets/resources/wand.png"), auto;

    @include mobile
    {
        font-size: 1.125em;
    }
}

@keyframes animatedBackground
{
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0px -1024px;
    }
}

h1, h2, h3
{
    font-family: $fontHeader;
}

a
{
    color: $colorYellow;
}

img
{
    max-width: 100%;
}

.wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content
{    
    margin-top: $spacing;
    margin-bottom: $spacing;

    padding: $spacing;

    width: 1152px;
}

.cut-edges
{
    border: 0;
    border-top: $spacing;
    border-bottom: $spacing;
    border-style: solid;
    border-image: url("/assets/resources/box-black.png");
    border-image-slice: 45% 0% fill;
    border-image-repeat: repeat;
}