// Fonts.
@font-face
{
    font-family: 'tangerine';
    src: url(/assets/resources/tangerine.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$fontHeader: 'tangerine';
$fontBody: "Open Sans", sans-serif;;

// Colors.
$colorBlack: #231f20;
$colorYellow: #f0e921;
$colorPink: #d52991;

// Spacing.
$spacing: 4rem;
$spacingHalf: 2rem;
$spacingQuarter: 1rem;



@mixin mobile
{
    @media screen and (max-width: 1152px)
    {
        @content;
    }
}