.header-content, .footer-content
{
    background-color: $colorBlack;

    padding: $spacing;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-edge, .footer-edge
{
    height: 3rem;
    
    background-image: url("/assets/resources/edge.png");
    background-position: top;
    background-repeat: repeat-x;
    background-size: contain;
}

.footer-edge
{
    scale: (-1);
}

.header-logo
{
    width: 25rem;
}

.header-links
{
    margin-top: $spacingHalf;
    display: flex;
    gap: $spacing;
    font-family: $fontHeader;
    font-size: 1.5rem;
}